.row {
    display: flex;
}

.chip {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    max-height: 80px;
    overflow: auto;
    border: gray;
}

.searchButton {
    display: flex;
    flex-direction: row-reverse;
}

.form {
    padding: 0 10px 10px 10px;
    table-layout: fixed;
}

.form {
    width: 100%;
}
