{{- with $base := (printf "configs/%s" (env "DE_ENV")) -}}
{{ with $v := (key (printf "%s/de/default-build-number" $base)) }}org.iplantc.discoveryenvironment.about.defaultBuildNumber = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/de/release-version" $base)) }}org.iplantc.discoveryenvironment.about.releaseVersion = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/de/base-url" $base)) }}org.iplantc.discoveryenvironment.cas.base-url = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/de/cas-server-name" $base)) }}org.iplantc.discoveryenvironment.cas.server-name = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/de/cas-validation" $base)) }}org.iplantc.discoveryenvironment.cas.validation = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/de/cas-logout-url" $base)) }}org.iplantc.discoveryenvironment.cas.logout-url = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/de/cas-app-name" $base)) }}org.iplantc.discoveryenvironment.cas.app-name = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/de/cas-login-url" $base)) }}org.iplantc.discoveryenvironment.cas.login-url = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/de/authorized-groups" $base)) }}org.iplantc.admin.cas.authorized-groups = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/de/group-attribute-name" $base)) }}org.iplantc.admin.cas.group-attribute-name = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/de/cas-no-logout-url" $base)) }}org.iplantc.discoveryenvironment.cas.no-logout-url = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/de/cas-app-list" $base)) }}org.iplantc.discoveryenvironment.cas.app-list = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/de/keepalive-service" $base)) }}org.iplantc.discoveryenvironment.keepalive.service = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/de/keepalive-target" $base)) }}org.iplantc.discoveryenvironment.keepalive.target = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/de/keepalive-interval" $base)) }}org.iplantc.discoveryenvironment.keepalive.interval = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/jwt/private-key-path" $base)) }}org.iplantc.discoveryenvironment.jwt.private-key-path = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/jwt/private-key-password" $base)) }}org.iplantc.discoveryenvironment.jwt.private-key-password = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/de/twitter-url" $base)) }}org.iplantc.discoveryenvironment.twitter-url = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/de/facebook-url" $base)) }}org.iplantc.discoveryenvironment.facebook-url = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/de/newsletter-url" $base)) }}org.iplantc.discoveryenvironment.newsletter-url = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/de/ask-url" $base)) }}org.iplantc.discoveryenvironment.ask-url = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/de/prefix" $base)) }}prefix = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/terrain/base" $base)) }}org.iplantc.discoveryenvironment.muleServiceBaseUrl = {{ $v }}/secured{{ end }}
{{ with $v := (key (printf "%s/terrain/base" $base)) }}org.iplantc.discoveryenvironment.unprotectedMuleServiceBaseUrl = {{ $v }}/{{ end }}
{{ with $v := (key (printf "%s/terrain/base" $base)) }}org.iplantc.services.bootstrap = {{ $v }}/secured/bootstrap{{ end }}
{{ with $v := (key (printf "%s/terrain/base" $base)) }}org.iplantc.services.logout = {{ $v }}/secured/logout{{ end }}
{{ with $v := (key (printf "%s/terrain/base" $base)) }}org.iplantc.services.de-data-mgmt.base = {{ $v }}/secured/filesystem/{{ end }}
{{ with $v := (key (printf "%s/terrain/base" $base)) }}org.iplantc.services.admin.de-data-mgmt.base = {{ $v }}/admin/filesystem/{{ end }}
{{ with $v := (key (printf "%s/terrain/base" $base)) }}org.iplantc.services.file-io.base.secured = {{ $v }}/secured/fileio/{{ end }}
{{ with $v := (key (printf "%s/terrain/base" $base)) }}org.iplantc.services.file-io.file-upload = {{ $v }}/fileio/upload{{ end }}
{{ with $v := (key (printf "%s/terrain/base" $base)) }}org.iplantc.services.file-io.secured.file-upload = {{ $v }}/secured/fileio/upload{{ end }}
{{ with $v := (key (printf "%s/terrain/base" $base)) }}org.iplantc.services.buggalo.baseUrl = {{ $v }}/secured/tree-viewer-urls{{ end }}
{{ with $v := (key (printf "%s/terrain/base" $base)) }}org.iplantc.services.toolRequests = {{ $v }}/tool-requests{{ end }}
{{ with $v := (key (printf "%s/terrain/base" $base)) }}org.iplantc.services.toolRequests.statusCodes = {{ $v }}/tool-requests/status-codes{{ end }}
{{ with $v := (key (printf "%s/terrain/base" $base)) }}org.iplantc.services.admin.toolRequests = {{ $v }}/admin/tool-requests{{ end }}
{{ with $v := (key (printf "%s/terrain/base" $base)) }}org.iplantc.services.permIdRequests = {{ $v }}/permanent-id-requests{{ end }}
{{ with $v := (key (printf "%s/terrain/base" $base)) }}org.iplantc.services.permIdRequests.statusCodes = {{ $v }}/permanent-id-requests/status-codes{{ end }}
{{ with $v := (key (printf "%s/terrain/base" $base)) }}org.iplantc.services.admin.permIdRequests = {{ $v }}/admin/permanent-id-requests{{ end }}
{{ with $v := (key (printf "%s/terrain/base" $base)) }}org.iplantc.services.apps = {{ $v }}/apps{{ end }}
{{ with $v := (key (printf "%s/terrain/base" $base)) }}org.iplantc.services.apps.ids = {{ $v }}/apps/ids{{ end }}
{{ with $v := (key (printf "%s/terrain/base" $base)) }}org.iplantc.services.apps.categories = {{ $v }}/apps/categories{{ end }}
{{ with $v := (key (printf "%s/terrain/base" $base)) }}org.iplantc.services.apps.hierarchies = {{ $v }}/apps/hierarchies{{ end }}
{{ with $v := (key (printf "%s/terrain/base" $base)) }}org.iplantc.services.apps.elements = {{ $v }}/apps/elements{{ end }}
{{ with $v := (key (printf "%s/terrain/base" $base)) }}org.iplantc.services.apps.elements.tools = {{ $v }}/apps/elements/tools{{ end }}
{{ with $v := (key (printf "%s/terrain/base" $base)) }}org.iplantc.services.apps.elements.infoTypes = {{ $v }}/apps/elements/info-types{{ end }}
{{ with $v := (key (printf "%s/terrain/base" $base)) }}org.iplantc.services.apps.elements.dataSources = {{ $v }}/apps/elements/data-sources{{ end }}
{{ with $v := (key (printf "%s/terrain/base" $base)) }}org.iplantc.services.apps.argPreview = {{ $v }}/apps/arg-preview{{ end }}
{{ with $v := (key (printf "%s/terrain/base" $base)) }}org.iplantc.services.admin.apps = {{ $v }}/admin/apps{{ end }}
{{ with $v := (key (printf "%s/terrain/base" $base)) }}org.iplantc.services.admin.apps.categories = {{ $v }}/admin/apps/categories{{ end }}
{{ with $v := (key (printf "%s/terrain/base" $base)) }}org.iplantc.services.oauth = {{ $v }}/secured/oauth{{ end }}
{{ with $v := (key (printf "%s/terrain/base" $base)) }}org.iplantc.services.apps.pipelines = {{ $v }}/apps/pipelines{{ end }}
{{ with $v := (key (printf "%s/terrain/base" $base)) }}org.iplantc.services.admin.referenceGenomes = {{ $v }}/admin/reference-genomes{{ end }}
{{ with $v := (key (printf "%s/terrain/base" $base)) }}org.iplantc.services.referenceGenomes = {{ $v }}/reference-genomes{{ end }}
{{ with $v := (key (printf "%s/terrain/base" $base)) }}org.iplantc.services.analyses = {{ $v }}/analyses{{ end }}
{{ with $v := (key (printf "%s/terrain/base" $base)) }}org.iplantc.services.admin.tools = {{ $v }}/admin/tools{{ end }}
{{ with $v := (key (printf "%s/terrain/base" $base)) }}org.iplantc.services.tools = {{ $v }}/tools{{ end }}
{{ with $v := (key (printf "%s/terrain/base" $base)) }}org.iplantc.services.admin.workshop = {{ $v }}/admin/groups/workshop{{ end }}
{{ with $v := (key (printf "%s/de/file-identifier" $base)) }}org.iplantc.pathList.fileIdentifier = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/terrain/base" $base)) }}org.iplantc.services.filesystem.index = {{ $v }}/secured/filesystem/index{{ end }}
{{ with $v := (key (printf "%s/terrain/base" $base)) }}org.iplantc.services.filesystem.index-status = {{ $v }}/secured/filesystem/index-status{{ end }}
{{ with $v := (key (printf "%s/email/base" $base)) }}org.iplantc.services.email-base = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/terrain/base" $base)) }}org.iplantc.services.notifications = {{ $v }}/secured/notifications{{ end }}
{{ with $v := (key (printf "%s/terrain/base" $base)) }}org.iplantc.services.admin.notifications.system = {{ $v }}/admin/notifications/system{{ end }}
{{ with $v := (key (printf "%s/terrain/base" $base)) }}org.iplantc.services.admin.notifications.system.types = {{ $v }}/admin/notifications/system-types{{ end }}
{{ with $v := (key (printf "%s/terrain/base" $base)) }}org.iplantc.services.admin.ontologies = {{ $v }}/admin/ontologies{{ end }}
{{ with $v := (key (printf "%s/terrain/base" $base)) }}org.iplantc.services.ontologies = {{ $v }}/ontologies{{ end }}
{{ with $v := (key (printf "%s/de/root-app-category" $base)) }}org.iplantc.discoveryenvironment.workspace.rootAppCategory = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/de/default-app-categories" $base)) }}org.iplantc.discoveryenvironment.workspace.defaultAppCategories = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/de/default-beta-app-category" $base)) }}org.iplantc.discoveryenvironment.workspace.defaultBetaAppCategoryId = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/de/default-hpc-app-category" $base)) }}org.iplantc.discoveryenvironment.workspace.defaultHpcAppCategoryId = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/de/default-trash-app-category" $base)) }}org.iplantc.discoveryenvironment.workspace.defaultTrashAppCategoryId = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/de/ontology-attributes" $base)) }}org.iplantc.discoveryenvironment.workspace.ontologyAttrs = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/de/beta-attr-iri" $base)) }}org.iplantc.discoveryenvironment.workspace.metadata.beta.attr.iri = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/de/beta-attr-label" $base)) }}org.iplantc.discoveryenvironment.workspace.metadata.beta.attr.label = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/de/beta-value" $base)) }}org.iplantc.discoveryenvironment.workspace.metadata.beta.value = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/de/beta-unit" $base)) }}org.iplantc.discoveryenvironment.workspace.metadata.beta.unit = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/de/card-url" $base)) }}org.iplantc.discoveryenvironment.workspace.apps.cardUrl = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/de/card-url-options" $base)) }}org.iplantc.discoveryenvironment.workspace.apps.cardUrlOptions = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/de/context-menu-enabled" $base)) }}org.iplantc.discoveryenvironment.contextMenu.enabled = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/de/community-data-path" $base)) }}org.iplantc.communitydata.path = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/de/irods-home" $base)) }}org.iplantc.irodshome.path = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/de/trash-path" $base)) }}org.iplantc.basetrash.path = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/de/maintenance-file" $base)) }}org.iplantc.discoveryenvironment.maintenance-file = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/de/local-ip-ranges" $base)) }}org.iplantc.discoveryenvironment.local-ip-ranges = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/de/environment-name" $base)) }}org.iplantc.discoveryenvironment.environment.name = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/de/prod-deployment" $base)) }}org.iplantc.discoveryenvironment.environment.prod-deployment = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/de/poll-interval" $base)) }}org.iplantc.discoveryenvironment.notifications.poll-interval = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/amqp/uri" $base)) }}org.iplantc.discoveryenvironment.notification.amqp.uri = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/amqp/exchange/name" $base)) }}org.iplantc.discoveryenvironment.notification.amqp.exchange.name = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/de/amqp-de-durable" $base)) }}org.iplantc.discoveryenvironment.notification.amqp.exchange.durable = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/de/amqp-de-auto-delete" $base)) }}org.iplantc.discoveryenvironment.notification.amqp.exchange.auto-delete = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/de/support-user" $base)) }}org.iplantc.discoveryenvironment.analysis.support.user = {{ $v }}{{ end }}
{{ with $v := (key (printf "%s/terrain/base" $base)) }}org.iplantc.discoveryenvironment.support = {{ $v }}/support-email{{ end }}
{{- end -}}
