<h4> My analysis has been in the Submitted state for a long time. </h4>
<p style="margin:10px;">This application runs on the large memory queue of XSEDE, the US national supercomputing network.Wait time for your analysis to submit and run may be up to several days for large memory applications.
Please do not resubmit your analysis.See accessing <a href="https://pods.iplantcollaborative.org/wiki/display/DC/Accessing+the+XSEDE+national+supercomputer+network+through+CyVerse" target="_blank">XSEDE</a> and queues for more information.</p>

