<h4> My analysis completed but no output</h4>
<p style="margin:10px;">If there are only log files, the application did not run successfully. Check your log files (<b>condor-stderr-0 and condor-stdout-0</b>) under logs directory. If you see the message similar to input file not found, the cause could be due to several causes:</p>
<p style="padding-left:10px;margin:10px;"> * <b>Special characters in the file name:</b> Rename the file, excluding any of the <a href="https://wiki.cyverse.org/wiki/display/DEmanual/Using+Special+Characters+in+the+DE" target="_blank"> special characters </a> and relaunch analysis.</p>
<p style="padding-left:10px;margin:10px;"> * <b>Corrupted input file:</b> Try to run the app again using another input file. Start with the example file supplied with the app. You may need to return to your original data source (e.g., sequencing center) and request a new copy of the input data.</p>


