<h3>Completed</h3>
<p style="margin:10px;">If there are output files, but they are not expected, This could be due to several causes:</p>
<p style="padding-left:10px;margin:10px;">* <b>Invalid parameters.</b> Each tool will report errors differently. You will need to search the log files for an error message. Start by searching the (stdout) file, which lists all of the output from the tool. Also check the app documentation, including the original documentation for the tool.</p>
<p style="padding-left:10px;margin:10px;">* <b>Problem with app or with the source code.</b> Which of the following applies?
    <p style="padding-left:20px;margin:10px;">* <b>The app is public and no longer in beta.</b> A problem with the code is unlikely for a public, non-beta app. Please post comment.</p>
    <p style="padding-left:20px;margin:10px;">* <b>The app is public but still in beta.</b> If it is not your app, and it is in the beta category, please add a comment to the app, which will go to the app creator.</p>
    <p style="padding-left:20px;margin:10px;">* <b>The app is private.</b> If it is your app, be sure to validate with a real dataset or two, not just the example data that comes with the code. There may be a code bug in executable that drives the app. Check the discussion list or issue tracker for the tool, and email the list or file a ticket if necessary. CyVerse staff cannot help with troubleshooting of externally generated code.</p>
</p>

