<h4> My analysis never completes </h4>
<p style="padding-left:10px;margin:10px;"> * Is the input consistent with the intended functionality of the app? Please read the <a href="https://wiki.cyverse.org/wiki/display/DEmanual/Viewing+App+and+Tool+Information" target="_blank">app manual</a>
    for limits on the size of input files an app can normally handle and an estimate
    of how long it should take for your analysis to complete.</p>
<p style="padding-left:10px;margin:10px;"> * If you are trying to run an analysis with input that is much larger than the app can handle, it may
    not complete. Do not try to relaunch this analysis. If you would like
    to suggest a new app for additional functionality, please use <a href=ask.iplantcollaborative.org target=_blank>forums</a>.</p>
