<h4> My Analysis never completes </h4>
<p style="margin:10px;">Is the input consistent with the intended functionality of the app? Please read the app documentation
    for limits on the size of input files an app can normally handle and an estimate
    of how long you it should take for your analysis to complete.
    If you are trying to run an analysis with input that is much larger than the app can handle, it will
    not complete in a reasonable amount of time. Do not try to relaunch this analysis. If you would like
    to suggest a new app for additional functionality, please use <a href=ask.iplantcollaborative.org target=_blank>forums</a>.</p>