<h4> My analysis failed </h4>
<p style="margin:10px;">There are several common causes for a failed analysis.</p>
<p style="margin:10px;">When there is scheduled DE maintenance, all submitted analyses will be killed. If your analysis fails on a maintenance day, please relaunch the analysis.</p>
<p style="margin:10px;">Problem with the input file(s):</p>
<p style="margin:10px;">
    <p style="padding-left:10px;margin:10px;">* <b>Special characters in the file name:</b> Rename the file, excluding any of the <a href="https://wiki.cyverse.org/wiki/display/DEmanual/Using+Special+Characters+in+the+DE" target="_blank">special characters </a> and relaunch ananlysis.</p>
    <p style="padding-left:10px;margin:10px;">* <b>Incorrect input file format:</b> Read the <a href="https://wiki.cyverse.org/wiki/display/DEmanual/Viewing+App+and+Tool+Information" target="_blank">app documentation </a> and reformat input file. Relaunch analysis.</p>
    <p style="padding-left:10px;margin:10px;">* <b>Corrupted input file:</b> Try to run the app again using another input file. Start with the <a href="https://wiki.cyverse.org/wiki/display/DEmanual/Using+Test+Data" target="_blank">example file </a> supplied with the app. You may need to return to your original data source (e.g., sequencing center) and request a new copy of the input data.</p>
</p>
<p style="margin:10px;">Other common reasons for analysis failure. Solution to the issue depends on the <a href="https://wiki.cyverse.org/wiki/display/DEmanual/Using+the+Apps+Window+and+Submitting+an+Analysis" target="_blank"> status of the app </a> (public, beta, or private):</p>
<p style="margin:10px;">
<p style="padding-left:10px;margin:10px;">* <b>Invalid parameters:</b> Each tool will report errors differently. You will need to search the log files for an error message. Start by searching the (stdout) file, which lists all of the output from the tool. Also check the app documentation, including the original documentation for the tool.</p>
<p style="padding-left:10px;margin:10px;">* <b>Problem with app or with the source code.</b> Which of the following applies? </p>
<p style="margin:10px;">
            <p style="padding-left:20px;margin:10px;">* <b>The app is public and no longer in beta:</b> A problem with the code is unlikely for a public, non-beta app. Please post a <a href="https://wiki.cyverse.org/wiki/display/DEmanual/Using+App+Ratings+and+App+Comments" target="_blank">comment</a>.</p>
            <p style="padding-left:20px;margin:10px;">* <b>The app is public but still in beta:</b> If it is not your app, and it is in the beta category, please post a <a href="https://wiki.cyverse.org/wiki/display/DEmanual/Using+App+Ratings+and+App+Comments" target="_blank">comment</a>.</p>
            <p style="padding-left:20px;margin:10px;">* <b>The app is private:</b> If it is your app, be sure to validate with a real dataset or two, not just the example data that comes with the code. There may be a code bug in the executable that drives the app. Check the discussion list or issue tracker for the tool, and email the list or file a ticket if necessary. CyVerse staff cannot help with troubleshooting externally generated code.</p>
</p>
</p>
</p>
