<p style="margin:10px;"><b>Analysis:</b> {data.name}</p>
<p style="margin:10px;"><b>App:</b> {data.appName}</p>
<p style="margin:10px;"><b>Current Status:</b> {data.status}</p>
<p style="margin:10px;"><b>Output folder: </b> {data.resultFolderId}</p>
<p style="margin:10px;"><b>Start date: </b> {startDate}</p>
<p style="margin:10px;"><b>End date: </b> {finishDate}</p>
<p style="margin:10px;"><b>User: </b> {data.userName}</p>
<p style="margin:10px;"><b>Name: </b> {profile.firstName}&nbsp;{profile.lastName}</p>
<p style="margin:10px;"><b>Email:</b> {profile.email}</p>