.date-picker {
    float: left;
    margin-right: 40px;
}

header .datePickers {
    border-bottom: 60px solid #e2e2e2;
    border-top: 10px solid #e2e2e2;
    border-left: 50px solid #e2e2e2;
}

header .apply-filter-btn {
    border-color: rgb(173, 190, 209);
    float: left;
    margin-top: 10px;
}

header .app-select-bar {
    width: 100%;
    float: left;
    background-color: #a5a4a4;
}

header .app-select-text {
    border-left: 50px solid #a5a4a4;
    border-top: 32px solid #a5a4a4;
    border-bottom: 20px solid #a5a4a4;
    background-color: #a5a4a4;
    float: left;
}

header .app-count-select {
    width: 150px;
    height: 75px;
    border-bottom: 8px solid #a5a4a4;
    border-left: 10px solid #a5a4a4;
    background-color: #a5a4a4;
    border-right: 100px solid #a5a4a4;
    float: left;
}
